body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #1594c7;
}
.form-container{
    background-color: rgb(247, 203, 4);
    width: 80%;
    border-radius: 10px;
    overflow: hidden;
    height: 90%;
    display: flex;
    align-items: center;
    box-shadow: -3px 0 10px rgba(0, 0, 0, 0.356);
}
.form-container .login-container{
    width: 500px;
    margin: 0 auto;
}
.form-container .login-container > h2{
   text-align: center;
   font-size: 2.5rem;
}
.form-container .login-container > p,
.form-container .login-container > span{
   text-align: center;
   color: rgb(77, 76, 76);
}
.form-container .login-container label{
    display: block;
    font-weight: bold;
    padding: 5px;
}
.form-container .login-container input.input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    border: solid 1px #ccc;
    border-radius: 7px;
}
.form-container .login-container input.input:focus{ /*al clickar en la barra*/
    outline: solid 2px rgb(4, 170, 247)
}

.form-container .login-container .options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-container .login-container .options a{
    text-decoration: none;
    color: blueviolet;
}
.form-container .login-container .options a:hover{
    text-decoration: underline;
}
.form-container .login-container .providers{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    margin-top: 30px;

}
.btn{
    border: none;
    border-radius: 5px;
    padding: 15px 0;
    width: 100%;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
    cursor: pointer;
}
.btn.btn-login{
    background-color: rgb(131, 131, 131);
    color: white;
}
.btn.btn-login:hover{
background-color: #929292;
}
.btn.btn-facebook{
    background-color: #057fc5;
    color: white;
}
.btn.btn-facebook:hover{
    background-color: #1594c7;
}

.btn.btn-x{
    background-color: black;
    color: white;
}
.btn.btn-x:hover{
    background-color: rgb(56, 56, 56);
}
.btn.btn-google:hover{
    background-color: #dddddd;
}



.form-container .screen-container{
    width: 50%;
    height: 100%;
}

@media screen and (max-width:1360px){
    .form-container{
        width: 95%;
    }
    .form-container .login-container{
        width: 400px;
        margin: 0 auto;
    }
    .form-container .screen-container{
        width: 40%;
    }
}
@media screen and (max-width:900px){
    
    .form-container .login-container{
        width: 350px;
        margin: 0 auto;
    }
    .form-container .screen-container{
        width: 30%;
    }
}
@media screen and (max-width:700px){
    .form-container{
        height: 75%;
    }
    .form-container .login-container{
        width: 300px;
        margin: 0 auto;
    }
    .form-container .screen-container{
        width: 0%;
    }
}